*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(45, 2, 45, 0.146),rgba(50, 3, 50, 0.31),rgba(128, 0, 128, 0.326),rgb(191, 176, 254),white,rgb(187, 165, 250));
    padding: 0.5rem;
    overflow: hidden;
}
.container{
    position: relative;
    width: min(100%,250px);
    height: 270px;
    background-color: rgb(15, 15, 17);
    color: whitesmoke;
    border-radius: 7px;
    box-shadow: 0px 0px 40px black;
    border: solid 1px;
}
.head{
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px rgba(245, 222, 179, 0.191);
}
.word{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.3rem;
}
.shuffled-word{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1rem;
    font-weight: 600;
    color: rgba(244, 244, 252, 0.877);
}
.btns-n-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0 0.9rem 0 0.9rem;
}
.input-box{
    width: 100%;
    padding: 0.3rem;
    border: solid 1px rgb(249, 250, 252);
    border-radius: 7px;
    font-weight: 600;
    color: rgb(24, 3, 66);
    text-transform: uppercase;
    background-color: rgb(170, 214, 252);
}
.btn{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.4rem;
}
.btn button{
    padding: 0.3rem;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.btn button:active{
    scale: 0.95;
}
.refresh{
    background-color: rgb(26, 45, 68);
    color: white;
}
.check{
    background-color: rgb(13, 39, 170);
    color: whitesmoke;
}
.result{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 75%;
    background-color: rgb(13, 39, 170);
    border: solid 1px;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
   font-size: 5rem;
    border: solid 1px;
    border-radius: 50%;
}
.feedback{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.invalid{
    width: min(70%, 200px);
    position: absolute;
    top: 10px;
    right: -100%;
    transition: all 0.7s ease;
}

.in{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 252, 252);
    color: rgb(15, 15, 17);
    padding: 1rem;
    border: solid 1px rgb(9, 0, 128);
}
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.line.active{
    animation: width 5s ease;
} 

@keyframes width {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.invalid .material-symbols-outlined{
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
@media screen and(max-width: 230px) {
    .shuffled-word{
        font-size: 1rem;
        letter-spacing: 1rem;
    }
}